{{! header.mustache }}
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css" />

    <title>{{$title}}Default title{{/title}}</title>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <script src="/js/stackexchange-requests.js"></script>
</head>
