{{! header.mustache }}
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <title>{{$title}}Default title{{/title}}</title>
</head>
