{{! home.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}Home{{/title}}
{{/header}}
{{/header}}
{{$content}}

<h1>Full Stack Live Coding Exercise.</h1>
<p>
    Search over <a href="http://stackoverflow.com/">Stack Overflow</a>
    by next conditions
</p>

<div >
    <form method="GET" action="/search-result">
        <fieldset class="form-group">
            <div class="form-group">
                <label for="tagged">has tag(required)</label>
                <input class="form-control" type="text" name="tagged" id="tagged" required="true">
            </div>
            <div class="form-group">
                <label for="nottagged">has no tags</label>
                <input class="form-control" type="text" name="nottagged" id="nottagged">
            </div>
            <div class="form-group">
                <label for="intitle">has text in title</label>
                <input class="form-control" type="text" name="intitle" id="intitle">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Search
                </button>
            </div>
        </fieldset>
    </form>
</div>


<!--<iframe name="search-result-iframe" src="search-result.mustache">-->
<!--</iframe>-->

<!--<div class="result" id="container">-->
    <!--<p>-->
        <!--<div id="template-table">-->
            <!--<table>-->
                <!--<thead>-->
                <!--<th>date of the question</th>-->
                <!--<th>title</th>-->
                <!--<th>who posted it</th>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--&lt;!&ndash;{{#items}}&ndash;&gt;-->
                <!--<tr>-->
                    <!--<td>{{creation_date}}</td>-->
                    <!--<td>{{title}}</td>-->
                    <!--<td>{{owner.display_name}}</td>-->
                    <!--<td><a href="{{link}}">link</a></td>-->
                <!--</tr>-->
                <!--&lt;!&ndash;{{/items}}&ndash;&gt;-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</p>-->
<!--</div>-->
<!--<div class="col-md-8 col-md-pull-4">-->
    <!--{{#hasItems}}-->
            <!--<p>-->
            <!--<div id="template-table">-->
                <!--<table>-->
                    <!--<thead>-->
                    <!--<th>date of the question</th>-->
                    <!--<th>title</th>-->
                    <!--<th>who posted it</th>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--&lt;!&ndash;{{#items}}&ndash;&gt;-->
                    <!--<tr>-->
                        <!--<td>{{creation_date}}</td>-->
                        <!--<td>{{title}}</td>-->
                        <!--<td>{{owner.display_name}}</td>-->
                        <!--<td><a href="{{link}}">link</a></td>-->
                    <!--</tr>-->
                    <!--&lt;!&ndash;{{/items}}&ndash;&gt;-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
            <!--</p>-->
    <!--{{/hasItems}}-->

    <!--{{^items}}-->
        <!--<div class="panel panel-default">-->
            <!--<div class="well">-->
                <!--There are no support tickets available.-->
            <!--</div>-->
        <!--</div>-->
    <!--{{/items}}-->


<!--</div>-->

{{/content}}
{{/base}}


