{{! home.mustache }}
{{<base}}
{{$header}}
{{<header}}
{{$title}}Home{{/title}}
{{/header}}
{{/header}}
{{$content}}

<h1>Full Stack Live Coding Exercise.</h1>
<p>
    Search over Stack Exchange sites by next conditions
</p>

<div>
    <form method="GET" action="/search-result" class="form-horizontal" role="form">
        <fieldset class="form-group">
            <div class="form-group">
                <label class="control-label col-sm-2" for="tagged">Site(required)</label>
                <div class="col-sm-10">
                    <select name="site" id="site" class="selectpicker">
                        {{#items}}
                            <option value="{{api_site_parameter}}">{{name}}</option>
                        {{/items}}
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="tagged">Tag(required)</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="tagged" id="tagged" required="true"
                           placeholder="Type a tag here. For example, 'java'">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="nottagged">Exclude tag</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="nottagged" id="nottagged">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="intitle">Text in title</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="intitle" id="intitle">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-default">Search</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>


<!--<iframe name="search-result-iframe" src="search-result.mustache">-->
<!--</iframe>-->

<!--<div class="result" id="container">-->
<!--<p>-->
<!--<div id="template-table">-->
<!--<table>-->
<!--<thead>-->
<!--<th>date of the question</th>-->
<!--<th>title</th>-->
<!--<th>who posted it</th>-->
<!--</thead>-->
<!--<tbody>-->
{{#items}}
    <!--<tr>-->
    <!--<td>{{creation_date}}</td>-->
    <!--<td>{{title}}</td>-->
    <!--<td>{{owner.display_name}}</td>-->
    <!--<td><a href="{{link}}">link</a></td>-->
    <!--</tr>-->
{{/items}}
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</p>-->
<!--</div>-->
<!--<div class="col-md-8 col-md-pull-4">-->
        <!--{{#hasItems}}-->
<!--<p>-->
<!--<div id="template-table">-->
<!--<table>-->
<!--<thead>-->
<!--<th>date of the question</th>-->
<!--<th>title</th>-->
<!--<th>who posted it</th>-->
<!--</thead>-->
<!--<tbody>-->
{{#items}}
    <!--<tr>-->
    <!--<td>{{creation_date}}</td>-->
    <!--<td>{{title}}</td>-->
    <!--<td>{{owner.display_name}}</td>-->
    <!--<td><a href="{{link}}">link</a></td>-->
    <!--</tr>-->
{{/items}}
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</p>-->
        <!--{{/hasItems}}-->

        <!--{{^items}}-->
<!--<div class="panel panel-default">-->
<!--<div class="well">-->
<!--There are no support tickets available.-->
<!--</div>-->
<!--</div>-->
        <!--{{/items}}-->


<!--</div>-->

{{/content}}
{{/base}}


